* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
.homepage-body {
  background: #eee;
  background-color: #0ab68b;
  font-family: "McLaren", cursive;
  background-image: url("https://i5.peapod.com/c/H9/H952X.jpg");
}

/* .savers{
      margin-top: 2rem;
      margin-bottom: 20rem;
      
    } */
.savers_h1 {
  text-align: center;
  font-family: "McLaren", cursive;
  font-weight: 500;
  padding-top: 10px;
}

.NavDropdown:hover .NavDropdown.item {
  display: block;
}

.carousel {
  height: 25rem;
  margin-top: 2rem;
}

#save {
  background-color: #92de8b;
  /* background-color: #FFE3B3; */
  padding-bottom: 20px;
  padding-top: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 1rem;
}

.save_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_cat {
  width: 208px;
  height: 155.99px;
}

#bank {
  background-color: #ffe3b3;
  /* background-color: #0AB68B; */
  padding-bottom: 20px;
  padding-top: 10px;
}

#category {
  background-color: #92de8b;
  /* background-color: #FFE3B3; */
  padding-bottom: 20px;
  padding-top: 10px;
}

#zip {
  width: 100%;
  height: 500px;
  background-color: #ffe3b3;
  background-image: url("https://i5.peapod.com/c/R7/R71NZ.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.zip_h1 {
  text-align: center;
  font-family: "McLaren", cursive;
  font-weight: 500;
  padding-top: 50px;
}

input {
  align-self: center;
}

#Home {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  padding-right: 5rem;
  padding-left: 1.5rem;
}
#Business {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  padding-left: 1.5rem;
}

#inner_zip {
  padding-top: 5rem;
  padding-left: 25rem;
}

input[type="radio"] {
  border: 0px;
  height: 33px;
  width: 33px;
}

/* input[type=radio]:checked  {
      border: 5px solid #0DFF92;
    }
    
    input[type=radio]:checked::before{
      background: #0DFF92;
    } */

.buttonIN {
  position: relative;
  width: 340px;
  height: 50px;
  margin-top: 4rem;
}
.zip_check {
  border-radius: 40px;
  border-color: white;
  outline: none;
  width: 100%;
  height: 100%;
}

.zip_check:focus {
  border-radius: 40px;
  border-color: #028174;
}

#clear {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 40px;
  right: 0px;
  z-index: 2;
  background-color: #92de8b;
}

#clear:focus {
  outline: none;
}

@media (max-width: 992px) {
  .zip_h1 {
    padding-top: 100px;
  }
  #inner_zip {
    padding-top: 2rem;
    padding-left: 5rem;
  }
}

#connect {
  width: 100%;
  height: 300px;
  background-color: #ffe3b3;
  border: 2px solid darkslategrey;
}

i {
  padding-right: 3rem;
}

#icon {
  font-size: 4em;
  padding-left: 26rem;
}

.contact {
  text-align: center;
  font-weight: 200;
}

@media (max-width: 992px) {
  i {
    padding-right: 0.5rem;
  }
  #icon {
    padding-left: 8rem;
  }
}

.circle-img {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 120px;
  height: 120px;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
